<center><img src='../img/logo_cosiam/LogoCoSIAM_COL.png' style='height:230px;  margin: 0px 15px 15px 0px'></center>

# MÃ³dulo 3: Repaso de Python

# Python

<br>
<img src='../img/clase03/python.png' style='height:300px; float: left; margin: 0px 15px 15px 0px'> 

â€¢ Lenguaje de programaciÃ³n <br>
â€¢ Muy popular en el campo de la ciencia de datos <br>
â€¢ Reconocido por su legibilidad <br>

# Tipos de archivo: `.py` vs `.ipynb`

â€¢ `ipynb`: Jupyter Notebook. Necesitas tener instalado Jupyter para poder ejecutar. Ideal para realizar experimentos e interactuar con ellos.

â€¢ `py`: Script. Se ejecutan desde la **terminal**. Se pueden crear usando un editor de cÃ³digo (ejemplo: Visual Studio Code). Ideal para escribir cÃ³digo en producciÃ³n.

# CÃ³digo

# Variables

In [7]:
mi_variable = 23

In [8]:
print(mi_variable)

23

In [9]:
mi_variable + 3

26

In [10]:
print(f"Hola, mi nÃºmero favorito es {mi_variable}")

Hola, mi nÃºmero favorito es 23

In [11]:
type(mi_variable)

int

In [12]:
mi_cadena = "Vamos a buscar las esferas del dragon"

In [14]:
print(mi_cadena)

Vamos a buscar las esferas del dragon

In [15]:
type(mi_cadena)

str

In [17]:
cadena = mi_cadena

In [19]:
cadena.split()

['Vamos', 'a', 'buscar', 'las', 'esferas', 'del', 'dragon']

In [20]:
cadena.split("a")

['V', 'mos ', ' busc', 'r l', 's esfer', 's del dr', 'gon']

In [22]:
palabras = cadena.split()

In [23]:
palabras

['Vamos', 'a', 'buscar', 'las', 'esferas', 'del', 'dragon']

In [24]:
type(palabras)

list

In [26]:
3 * 2

6

In [28]:
"3hola" * 2

'3hola3hola'

In [29]:
int("3") * 2

6

# Listas

In [30]:
palabras

['Vamos', 'a', 'buscar', 'las', 'esferas', 'del', 'dragon']

In [31]:
palabras[1]

'a'

In [32]:
palabras[0]

'Vamos'

In [34]:
palabras[-1]

'dragon'

In [35]:
palabras[2:5]

['buscar', 'las', 'esferas']

In [36]:
n = 6

palabras[2:n]

['buscar', 'las', 'esferas', 'del']

# Condicionales

In [37]:
if 3 > 5:
    print("Tres es mayor a cinco")

In [38]:
if 3 < 5:
    print("Tres es menor a cinco")

Tres es menor a cinco

In [39]:
if 3 > 5:
    print("Tres es mayor a cinco")
else:
    print("Tres es menor a cinco")

Tres es menor a cinco

In [40]:
palabras

['Vamos', 'a', 'buscar', 'las', 'esferas', 'del', 'dragon']

In [43]:
para_buscar = 'gokÃº'

In [44]:
if para_buscar in palabras:
    print(f"{para_buscar} estÃ¡ en palabras")
else:
    print(f"{para_buscar} NO estÃ¡ en palabras")

gokÃº NO estÃ¡ en palabras

# Bucles

In [48]:
for palabra in palabras:
    print(palabra)

Vamos
a
buscar
las
esferas
del
dragon

In [49]:
for palabra in palabras:
    print(f"La palabra es: {palabra}")

La palabra es: Vamos
La palabra es: a
La palabra es: buscar
La palabra es: las
La palabra es: esferas
La palabra es: del
La palabra es: dragon

In [50]:
for i,palabra in enumerate(palabras):
    print(f"La palabra es: {palabra} y su nÃºmero es {i}")

La palabra es: Vamos y su nÃºmero es 0
La palabra es: a y su nÃºmero es 1
La palabra es: buscar y su nÃºmero es 2
La palabra es: las y su nÃºmero es 3
La palabra es: esferas y su nÃºmero es 4
La palabra es: del y su nÃºmero es 5
La palabra es: dragon y su nÃºmero es 6

In [55]:
for numero in range(5,16):
    print(numero)
    
print(":)")

5
6
7
8
9
10
11
12
13
14
15
:)

In [58]:
for numero in range(5,16):
    if numero % 2 == 0:
        print(f"El nÃºmero {numero} es par")
    else:
        print(f"El nÃºmero {numero} es impar")

El nÃºmero 5 es impar
El nÃºmero 6 es par
El nÃºmero 7 es impar
El nÃºmero 8 es par
El nÃºmero 9 es impar
El nÃºmero 10 es par
El nÃºmero 11 es impar
El nÃºmero 12 es par
El nÃºmero 13 es impar
El nÃºmero 14 es par
El nÃºmero 15 es impar

# Listas de comprensiÃ³n

In [64]:
mi_nueva_lista = []

for palabra in palabras:
    mi_nueva_lista.append(palabra.upper())
    
print(mi_nueva_lista)

['VAMOS', 'A', 'BUSCAR', 'LAS', 'ESFERAS', 'DEL', 'DRAGON']

In [63]:
[palabra.upper() for palabra in palabras]

['VAMOS', 'A', 'BUSCAR', 'LAS', 'ESFERAS', 'DEL', 'DRAGON']

In [69]:
[n**2 for n in range(5,23) if n % 2 == 1]

[25, 49, 81, 121, 169, 225, 289, 361, 441]

In [68]:
[n**2 for n in range(5,23) if n % 2 == 0]

[36, 64, 100, 144, 196, 256, 324, 400, 484]

# Diccionarios

- `keys` (llaves): Ãºnicas
- `values` (valores): no necesariamente Ãºnicos

In [70]:
mi_dic = {}

In [71]:
mi_dic['verde'] = 'green'

In [72]:
mi_dic

{'verde': 'green'}

In [73]:
mi_dic['azul'] = 'blue'

In [74]:
mi_dic

{'verde': 'green', 'azul': 'blue'}

In [75]:
mi_dic['verde2'] = 'green'

In [76]:
mi_dic

{'verde': 'green', 'azul': 'blue', 'verde2': 'green'}

In [77]:
mi_dic['verde'] = 'GREEN'

In [78]:
mi_dic

{'verde': 'GREEN', 'azul': 'blue', 'verde2': 'green'}

# Funciones

In [91]:
def mi_funcion(nombre):
    nombre = nombre * 2
    nombre = nombre.lower()
    nombre = nombre.split("A")
    return (f"Hola {nombre}")

In [92]:
mi_funcion("Viviana")

"Hola ['vivianaviviana']"

In [93]:
mi_funcion("Roberta")

"Hola ['robertaroberta']"

In [94]:
nombres = ["Vegeta", "Piccolo", "Bulma", "Krillin"]

In [96]:
for nombre in nombres:
    print(mi_funcion(nombre))

Hola ['vegetavegeta']
Hola ['piccolopiccolo']
Hola ['bulmabulma']
Hola ['krillinkrillin']

In [98]:
[mi_funcion(nombre) for nombre in nombres]

["Hola ['vegetavegeta']",
 "Hola ['piccolopiccolo']",
 "Hola ['bulmabulma']",
 "Hola ['krillinkrillin']"]

# Importar librerias

â€¢ Se pueden instalar librerias desde la terminal o desde el notebook

In [99]:
! pwd

/Users/vivianamarquez/Desktop/CoSIAM_Challenge_2022/jupyter_notebooks/por_resolver

In [50]:
! pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/coSIAM2022/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/envs/coSIAM2022/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda3/envs/coSIAM2022/lib/python3.9/site-packages (from pandas) (1.23.3)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/coSIAM2022/lib/python3.9/site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/coSIAM2022/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [101]:
import pandas as pd
import seaborn as sns

In [102]:
sns.load_dataset?

In [103]:
iris = sns.load_dataset('iris')

In [105]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Funciones lambda

In [107]:
iris['petal_width'].apply(lambda x: x**2)

0      0.04
1      0.04
2      0.04
3      0.04
4      0.04
       ...
145    5.29
146    3.61
147    4.00
148    5.29
149    3.24
Name: petal_width, Length: 150, dtype: float64

In [109]:
iris['nueva_col'] = iris['petal_width'].apply(lambda x: x**2)

In [110]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species  nueva_col
0           5.1          3.5           1.4          0.2  setosa       0.04
1           4.9          3.0           1.4          0.2  setosa       0.04
2           4.7          3.2           1.3          0.2  setosa       0.04
3           4.6          3.1           1.5          0.2  setosa       0.04
4           5.0          3.6           1.4          0.2  setosa       0.04

In [111]:
iris['nueva_col2'] = iris['species'].apply(lambda x: mi_funcion(x))

In [112]:
iris.head(5)

,sepal_length,sepal_width,petal_length,petal_width,species,nueva_col,nueva_col2
0,5.1,3.5,1.4,0.2,setosa,0.04,Hola ['setosasetosa']
1,4.9,3.0,1.4,0.2,setosa,0.04,Hola ['setosasetosa']
2,4.7,3.2,1.3,0.2,setosa,0.04,Hola ['setosasetosa']
3,4.6,3.1,1.5,0.2,setosa,0.04,Hola ['setosasetosa']
4,5.0,3.6,1.4,0.2,setosa,0.04,Hola ['setosasetosa']

### ðŸ¤“ Recapitulando: Hoy aprendÃ­mos...
- BÃ¡sicos de Python

<img src='../img/dragonball/3.jpeg' style='height:600px; float: left; margin: 0px 15px 15px 0px'>

â€¢ **MÃ³dulo 1**: &nbsp;&nbsp;&nbsp;&nbsp; IntroducciÃ³n âœ… <br>
â€¢ **MÃ³dulo 2**: &nbsp;&nbsp;&nbsp;&nbsp; ConfiguraciÃ³n de ambiente de desarrollo âœ… <br>
â€¢ **MÃ³dulo 3**: &nbsp;&nbsp;&nbsp;&nbsp; Repaso de Python âœ… <br>